@font-face {
    font-family: 'RalewayBlack';
    src: url('fonts/RalewayBlack.eot');
    src: url('fonts/RalewayBlack.eot') format('embedded-opentype'),
         url('fonts/RalewayBlack.woff2') format('woff2'),
         url('fonts/RalewayBlack.woff') format('woff'),
         url('fonts/RalewayBlack.ttf') format('truetype'),
         url('fonts/RalewayBlack.svg#RalewayBlack') format('svg');
}
